
/out/

/conf.place.of.ext.all.gradle.build.txt
/conf.place.of.ext.all.gradle.build0.txt

/conf.place.of.ide-scripting.txt
/conf.place.of.ide-scripting0.txt

/conf.place.of.tmp_dir_big.txt
/conf.place.of.tmp_dir_big0.txt
/conf.place.of.tmp_dir_quick.txt
/conf.place.of.tmp_dir_quick0.txt
